.glossary-popover-container div[popover] {
    inset:unset;
    position: absolute;
    margin: 0;
    width: max-content;
    max-inline-size: 20rem;
    position-area: top right;
    position-try-fallbacks: top span-right, top span-left, bottom span-right, bottom span-left, --span-right, --span-left;
    position-anchor: --term-123;
    box-shadow: 0 0px 30px 0px rgba(0,0,0,.08);
    border: 2px solid var(--wm-color-nebelgrau-light);
    padding: 0.9rem 0.9rem 0.6rem;
    z-index: calc(var(--wm-theme-header-z-index) - 1);
}

@position-try --span-right {
  position-area: bottom span-right;
  width: 10rem;
}

@position-try --span-left {
  position-area: bottom span-left;
  width: 10rem;
}

/* Glossarbegriff */
.glossary {
    background: unset !important;
    padding: unset !important;
    color: unset !important;
    border: unset !important;
    font-weight: unset !important;
    text-decoration: underline dotted !important;
    text-transform: unset !important;
    display: inline-block !important;
    cursor: help;
    display: inline-block;
}

@supports not selector(:popover-open) {
    [popover] {
        display: none !important;
    }

    [data-glossary-term-id]::after {
        content: " (" attr(data-glossary-term-easy-read) ")";
    }
}